/* Container */
.robot-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 60px;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .robot-container {
    height: 100%;
    margin-left: 0;
  }
}
